<%= form_with(model: player, local: true) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <th style="text-align: left;"> <%= form.label :firstname %></th>
      <td> <%= form.text_field :firstname %></td>
    </tr>
    <tr>
      <th style="text-align: left;"> <%= form.label :lastname %></th>
      <td> <%= form.text_field :lastname %></td>
    </tr>
    <tr>
      <th style="text-align: left;"> <%= form.label :team_id %></th>
      <td> <%= form.select :team_id, team_array, :include_blank => true %></td>
    </tr>
    <tr>
      <th></th>
      <td> <%= form.submit %></td>
    </tr>

  </table>
  
<% end %>
