<%= form_with(model: match, local: true) do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <table>
         <% is_first_team = true %>
         <%= form.fields_for :match_teams do |match_teams_form|%>
            <tr style="text-align: center;">

              <td style="text-align: center;"> <%= match_teams_form.select :team_id, team_array, :include_blank => true %></td>
            </tr>
            <% if is_first_team %>
             <th style="text-align: center;"> <%= "VS" %></th>
             <% is_first_team = false %>
            <% end %>
          <% end %>
        <tr>
          <%= form.hidden_field :winning_team_id %>
          <%= hidden_field_tag 'selected', 'none'  %>
        </tr>
        <tr></tr>
        <tr>
          <td> <%= form.submit %></td>
        </tr>
        <tr></tr>
  </table>
<% end %>
