<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title><%= html_title %></title>
 <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: red;
}

.active {
  background-color: #4CAF50;
}
</style>



</head>
<body>
	<ul>
  		
  		<li><%= link_to t(:label_players),players_path %></li>
  		<li><%= link_to t(:label_teams),teams_path %></li>
  		<li><%= link_to t(:label_matches), matches_path %></li>
 		
	</ul>
    <div id="content">
        <% #= render_flash_messages %>
        <%= yield %>
        <% #= call_hook :view_layouts_base_content %>
        <div style="clear:both;"></div>
    </div>


</body>
</html>
